<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="false">
	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobFactory">
            <bean class="com.iss.component.SpringBeanJobFactory" />
        </property>
        <!--applicationContextSchedulerContextKey：   
		        是org.springframework.scheduling.quartz.SchedulerFactoryBean这个类中  
		        把spring上下 文以key/value的方式存放在了quartz的上下文中了，  
		        可以用applicationContextSchedulerContextKey所定义的key得到对应的spring上下文-->    
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>
    </bean>
</beans>
